
.screen1, .screen2 {
    border: 5px solid black;
    height: 45vw;
    width: 48vw;
    background-color: white;
}

.screen1 {
    display: grid;
    float: left;
    margin: auto;
    text-align: center;
    font-size: 300%;
}

.screen2 {
    float: right;
}

.p1 {
    font-size: 200%;
    font-weight: bold;
    margin: auto;
}

.answer-box {
    background-color: rgb(195, 255, 255);
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 200px;
    width: 400px;
    margin-top: 220px;
    margin-left: 160px;
}

.btn-check {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: rgb(255, 94, 0);
    border: 5px solid rgb(255, 94, 00);
    background-color: rgb(255, 189, 149);
    border-radius: 15px;
    height: 200px;
    width: 406px;
    margin-left: 160px;
}

.check {
    z-index: 2;
    height: 45vw;
    width: 48vw;
    display: none;
}

.cross {
    z-index: 2;
    height: 45vw;
    width: 48vw;
    display: none;
}

.start, .next {
    background-color: rgb(170, 186, 234);
    color:  rgb(15, 75, 255);
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid rgb(15, 75, 255);
    border-radius: 15px;
    width: 40%;
    height: 20%;
    margin-top: 230px;
    margin-left: 230px;
}

.next {
    font-size: 60px;
}

.text {
    margin-left: 200px;
    border: 5px solid black;
    background-color: rgb(234, 234, 234);
    width: 25vw;
    border-radius: 15px;
}

.kawashima {
    position: relative;
    margin-left: 270px;
    margin-bottom: 300px;
    height: 100%;
}

body {
    background-color: rgb(152, 217, 255);
}
